{% extends 'base.html.twig' %}
{# <a href="mailto:gabrielturlea27@gmail.com"><img src="/img/msg.svg" style='width:25px'>Message me</a>   #}
{% block title %}Lucianturlea.ro{% endblock %}
{% block javascripts %}
    {# # get the parent stylesheet block  #}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script> 
{% endblock %}
{% block body %}   

<div id="main">
    {% block navbar %}
        {{ include('/_navbar/_navbar.html.twig') }}
    {% endblock %}

    <section id='section-first' class='container'>
        <div id='section-first-right'>
            <div>
                <span class='span-elements' style=''>Developing</span>
                <span class='span-elements' style=' padding-bottom:.5em'>passion.</span>
                <span class='span-elements' style='padding-bottom:1.1em;font-size:1em;font-weight:normal;font-family:Plex;color:#c3c3c3;letter-spacing:.01em;line-height:1.6em'>Checkout my beautiful web applications!</span>
                <div id='myprojects' class='span-elements btn-primary menu-item' data-scroll="#section-second"><img src="/img/checkout.svg"> My projects</div>
                
            </div>
        </div>

        <div id='section-first-left'>
            <div id='main-img' >
                <img src="/img/backgroundimg.png">
                <div class="dark-svg">
                    <img src="/img/symfony-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/git-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/linux-dark.svg">
                </div>
                 
                {# <div class="dark-svg">
                    <img src="/img/laravel-dark.svg">
                </div> #}
                <div class="dark-svg">
                    <img src="/img/sass-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/tailwind-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/figma-dark.svg">
                </div>
               
            </div>
            
        </div>
        
        <div id='version' class="version">
            <img src="/img/version.svg">  
        </div>
    
    </section>

    <section id='section-second'>
        {# <img src="/img/projectdraw.png"> #}
        <div class="container">
            <h1>Projects</h1>
            <div class="subtitle">
                <p>Currently there are {{ projects|length }} projects visible. Some of them require users credential to access them</p>
            
            </div>
            <div id='project-list' class='card-holder'>
            {% for project in projects %}
                <div class="card">
                    <div class="card-photo">
                        <div>
                            {% if project.photos %}
                                {% for photo in project.photos %}
                                    {% if photo.profile %}
                                    <div>
                                        <img class='logo-ph' src="{{ vich_uploader_asset(photo) }} " alt="project-{{ photo.id }}">             
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}   
                        </div>
                      <div class="card-photo-title">
                        <div class='card-photo-watermark'>
                            {{ project.name }}
                        </div>
                      </div>
                    </div>
                    <div class="card-content">
                        <div class='card-title-name'>
                          <div>
                            {{ project.name }}
                          </div>

                          <div>{{ project.subtitle }}</div> 
                        </div>
                        
                        <div class='card-subtitle'>
                            {# <div class="card-overview">
                                Overview:
                                <div>
                                Acesta e un text
                                </div>
                            </div> #}
                            <div class='card-tech'>
                            
                                {% for technology in project.technology %}
                                    <div> <img  src=" {{ vich_uploader_asset(technology)  }} " alt="project-{{ technology.id }}" style='width:30px'><span>{{ technology.name }}</span>  </div> 

                                {% endfor %}
                            </div>
                        </div>

                        
                        
                    </div>
                    <div class="card-bottom">
                        <div class='card-bottom-btn1 menu-item' data-scroll="#project-{{ project.id }}-id" title='Jump to the project details'>Details</div>
                        <div class='card-bottom-btn2' title='Visit the website'><a href='{{ project.link }}' target="_blank" ><img src='img/live.svg'>Live</a></div>
                    </div>
                    {# <div class='div-col'>
                        {{ loop.index }}
                    </div>
                    <div class='div-col'>
                        {{ project.name }}
                    </div>
                    
                    <div class='div-col'>
                        {{ project.framework }}
                    </div>
                    <div class='div-col div-col-type'>
                        {{ project.public ? "Yes" : "No" }}
                    </div>
                    <div class='div-col'>
                        <a class='btn-primary' href='{{ project.link }}'>
                            Visit
                        </a>
                        <a class='btn-secondary' href='{{ project.link }}'>
                            Github
                        </a>
                        <a class='btn-secondary' href='{{ project.link }}'>
                            Details
                        </a>
                    </div> #}
                </div>
            {% endfor %}
            </div>
            <div id='project-details'>
                {% for project in projects %}
                <div id='project-{{ project.id }}-id' class="card">
                    <div class="card-title">
                        <h2>{{ project.name }}</h2>
                        <h3>{{ project.subtitle }}</h3>
                        <div class='watermark'>{{ project.name }}</div>
                    </div>
                    <div class="card-links">
                        <div class='card-bottom-btn2' title='Visit the website'><a href='{{ project.link }}' target="_blank" class='card-links-div'><img src='img/live.svg'>Live</a></div>
                        {% if project.public %}
                                <a href="{{ project.github }}" target="_blank" class='btn-github card-links-div' title='Github repository'>
                                   <img src="/img/github.svg" ><span>Github</span>
                                </a>
                                
                            {% else %}
                            <div style='padding-right:25px;'> Private</div>
                        {% endif %}
                        {% if project.login %}
                                <div class='card-bottom-btn2' title='Visit the login area'><a href='{{ project.login }}' target="_blank" class='card-links-div' ><img src='img/login.svg'>Login</a></div>

                        {% endif %}

                    </div>
                    <div class="card-content">
                        <div class='card-h-subtitle'>Overview:</div>
                        <div>
                            {{ project.description }}
                        </div>
                    </div>
                    <div class="card-technology">
                       <div class='card-h-subtitle'>
                         Technologies:
                       </div>
                       <div class='card-technology-container'>
                            {% for technology in project.technology %}
                                <div> 
                                    <img src=" {{ vich_uploader_asset(technology)  }} " alt="project-{{ technology.id }}" style='width:25px'>
                                    <span>{{ technology.name }} {{ technology.version }}</span>  
                                </div> 

                            {% endfor %}
                       </div>
                    </div>
                    <div class="card-challenge">
                        <img src='img/ok.svg'>
                        <div class='card-h-subtitle'>Challenges and solutions:</div>
                        <div class='card-challenge-container'>
                            
                            {% for challenge in project.challenges %}
                            <div>
                                <div>{{ loop.index }}) {{ challenge.name }}</div> 
                                <div>{{ challenge.solution }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-photo">
                        <div class='card-h-subtitle'>screenshots</div>
                        <div class='card-photo-buttons'>
                            <div>Website's exemples with screenshots ({{ project.photos|length - 1 }} photos)</div>
                            <div class='btn-screenshot' data-id="{{ project.id }}">Click to expand</div>
                        </div>
                        <div class='content-screenshot' data-id='{{ project.id }}'>
                            {% if project.photos %}
                                {% set counter = 0 %}
                                {% for photo in project.photos %}
                                    {% if photo.profile is null %}
                                    {% set counter = counter + 1 %}
                                    <div class='content-screenshot-item'>
                                        <div class='content-screenshot-item-counter'>{{ counter }}</div>
                                        <div class='content-screenshot-item-details'>
                                            {{ photo.details }}
                                        </div>
                                        <div class='content-screenshot-item-img'>
                                            <img src=" {{ vich_uploader_asset(photo)  }} " alt="project-{{ photo.id }}" >             
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}          
                            {% endif %}
                        </div>    
                    </div>
                </div>
                {% endfor %}
            </div>
            {# <div class="version">
                <img src="/img/version4.svg">  
            </div> #}
        </div>
        
    </section>
    <section id='section-third'>
        <div class="container">
            <h1>Experience</h1>
            <div class='subtitle'>Here are my former jobs, known technologies and skill. All contribute in my software developer journey:</div>
            <div class='exp-list'>
                <div class='exp-list-item'>
                    <div class='exp-title-item'>   
                        <div>
                            <img src='img/version6.svg'>
                        </div>
                        <div>
                            <h2>Former jobs</h2>
                        </div>
                    </div>
               
                    <div class='exp-content-item'>
                        <h3>Programmer</h3>
                        <h4 style='padding-top:13px'> at <a href='https://caprirom.ro' title='Caprirom webpage' style='text-decoration:underline'>Caprirom</a> (2016-2018 | 2 years)</h4>
                        <div>
                            <p style='padding-top:7px'>Responsabilities:</p>
                            <ul>
                                <li>design and development a local application that integrates the flow of informations within the association</li>
                                <li>analyze the local application requirements and the scalability</li>
                                <li>facilitate the transfer of data between departments, integrate the devices</li>
                                <li>build efficient PHP modules for data export, issue the invoice, stats analyze, etc.</li>
                                <li>adapt the software for dynamic generation of various reports formats (pdf, excel, csv)</li>
                                <li>develop back-end portals with an optimized database</li>
                                <li>integrate data storage solutions</li>
                                <li>troubleshoot application and code issues</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class='exp-list-item'>
                    <div class='exp-title-item'>   
                        <div>
                            <img src='img/version5.svg'>
                        </div>
                        <div>
                            <h2>my skills</h2>
                        </div>
                    </div>
                
                    <div class='exp-content-item'>
                        <h3>Developer skills</h3>
                        <div>
                            <ul>
                                <li>strong technical skills, attention to detail, responsible</li>
                                <li>great understanding of the internet, web applications and web servers</li>
                                <li>capable of writing and integrate new modules for projects</li>
                                <li>finish tasks without close supervision, good planning skill</li>
                                <li>identifying, develope and deliver new solutions</li>
                                <li>fast diagnose and troubleshoot encountered issues of the software application</li>
                                <li>good cooperating skills, easy to integrate in any team, creative and teamwork player</li>
                                <li>interested in the latest technologies, proactive, self-motivated</li>
                                <li>willing to adapt or learn new programming language / frameworks, for an interesting project</li>
                            </ul>
                        </div>
                    </div>
                
                </div>
                <div class='exp-list-item'>
                    <div class='exp-title-item'>    
                        <div>
                            <img src='img/version7.svg'>
                        </div>
                        <div>
                            <h2>Known technologies</h2>
                        </div>
                    </div>
                 
                    <div class='exp-content-item'>
                        <h3>Main languages and frameworks:</h3>
                        <div>
                            <ul class='exp-technologies-img'>
                                <li><img src='/img/symfony2.svg'>Symfony(PHP)</li>
                                <li><img src='/img/php.svg'>PHP</li>
                                <li><img src='/img/js2.svg'>JavaScript</li>
                                <li><img src='/img/sass.svg'>SASS</li>
                                <li><img src='/img/mysql2.svg'>MySQL</li>
                                <li><img src='/img/twig.png'>Twig</li>
                                
                            </ul>
                        </div>
                        <h3>Other relevant technologies:</h3>
                        <div>
                            <ul class='exp-technologies-img'>
                                <li><img src='/img/linux.svg'>Linux</li>
                                <li><img src='/img/git.svg'>Git</li>
                                <li><img src='/img/tailwindcss.svg'>TailwindCss(CSS)</li>
                                <li><img src='/img/figma.svg'>Figma</li>
                                <li><img src='/img/bind9.png'>Bind9</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id='section-forth'>
        <div class="container">
            <h1>About me</h1>
            <div class='about-me-container'>
                <h2>Short description:</h2>
                <div>
                    <p>Hello, my name is <b>Lucian Turlea</b> and I'm {{ 'now'|date('Y') - 1991 }} years old from Constanta, Romania.</p>
                    <p><b>I am a remote software developer</b> with passion for web applications, great innovations and solutions.</p>
                    <p>I like to create and develope <b>web applications</b>, great software that is accesible worldwide.</p>
                    <p>Mostly, I work in <b>Symfony</b> framework, a valuable enviroment to develope my desired projects, but I am interested in any other great oriented object programming framework.</p>
                    <p>So <b>back-end develope</b> it's my favourite part of the web application. I have a strong knowledge of the UX or UI design, using Webpack Encore bundle to compile JavaScript, SASS files, or install other packages.</p>
                    <p>As web application represents passion for me, I had to learn to configure <b>web servers</b> and <b>DNS</b> services. <b>Linux</b> servers host all my projects.</p>
                </div>
                <h2>Education and studies:</h2>
                <div>
                    <ul>
                        <li>University: Ovidius University - Economy faculty - bachelor's degree (2010 - 2013 | 3 years)</li>
                        <li>Certification: Link academy - Computer science - PHP programmer (2017 - 2018 | 1 year)</li>
                        <li>Certification: Oracle academy - Computer science - MySQL programmer (2010 | 3 months)</li>
                        <li>Certification: ECDL - European Computer Driving Licence Core (2009 | 1 month)</li>
                    </ul>
                </div>
            </div>
            <img src="/img/about-svg.svg" class="about-svg">  
        </div>
    </section>
    <section id='section-fifth'>
        <div class="container">
            <h1>Contact</h1>
            <div class='subtitle'>Connect via social media, or send me e message using the form below!</div>
            <div class='contact-social-media'>
                <div>
                    <img src="/img/gmail.svg" alt='gmail'> Gmail :   <span><a href='mailto:lucianturlea27@gmail.com'>lucianturlea27@gmail.com</a></span>
                </div>
                <div>
                    <img src="/img/github.svg" alt='github'> Github :   <span><a href='https://github.com/gxl27'>gxl27</a></span>
                </div>
                <div>
                    <img src="/img/figma.svg" alt='figma'> Figma :   <span><a href='https://www.figma.com/file/jlQIiKg37Gy4i6JieUfQKE/Lucianturlea?node-id=0%3A1'>Lucianturlea</a></span>
                </div>
                <div>
                    <img src="/img/discord.svg" alt='discord'> Discord :   <span>gxl#0075</span>
                </div>

            </div>
            <div class="contact-content">
                <div class='contact-details'>
                    
                    <h2>
                        Send me a message!
                    </h2>
                    <div>
                        <span>Write me using my e-mail adress:</span>
                    </div>
                    <div>
                        <a href='mailto:lucianturlea27@gmail.com'><span>lucianturlea27@gmail.com</span></a>
                    </div>
                    <div><b><span>or</span></b></div>
                    <div>
                        <span>submit the following contact form!</span>
                    </div>
                    {# add map #}
                </div>
                <div class='contact-form'>
                    {{ form_start(form) }}
                    <div>
                        {{ form_row(form.name) }}
                    </div>
                    <div>
                        {{ form_row(form.email) }}
                    </div>
                    <div>
                        {{ form_row(form.title) }}
                    </div>
                     <div>
                        {{ form_row(form.content) }}
                    </div>
                    <div>
                        <div class='btn-msg-contact' style='display:flex;'>
                            <button class='btn-secondary'>Submit</button>
                        
                        </div>
                    </div>
                    {# {{ form_widget(form) }} #}
                    {{ form_end(form) }}
                </div>
                
            </div>
            <div id='map'></div>
        </div>  
    </section>
</div>
{% endblock %}



{% block mainjavascript %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
