{% extends 'base.html.twig' %}
{# <a href="mailto:gabrielturlea27@gmail.com"><img src="/img/msg.svg" style='width:25px'>Message me</a>   #}
{% block title %}Lucianturlea.ro{% endblock %}
{% block javascripts %}
    {# # get the parent stylesheet block  #}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script> 
{% endblock %}
{% block body %}   

<div id="main">
    {% block navbar %}
        {{ include('/_navbar/_navbar.html.twig') }}
    {% endblock %}

    <section id='section-first' class='container'>
        <div id='section-first-right'>
            <div>
                <span class='span-elements' style=''>Developing</span>
                <span class='span-elements' style=' padding-bottom:.5em'>passion.</span>
                <span class='span-elements' style='padding-bottom:1.1em;font-size:1em;font-weight:normal;font-family:Plex;color:#d3d3d3;letter-spacing:.01em;line-height:1.4em'>Made with <b>Symfony</b> framework.<br>Checkout my beautiful projects!</span>
                <div id='myprojects' class='span-elements btn-primary'><img src="/img/checkout.svg"> My projects</div>
                
            </div>
        </div>

        <div id='section-first-left'>
            <div id='main-img' >
                <img src="/img/backgroundimg.png">
                <div class="dark-svg">
                    <img src="/img/symfony-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/git-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/linux-dark.svg">
                </div>
                 
                {# <div class="dark-svg">
                    <img src="/img/laravel-dark.svg">
                </div> #}
                <div class="dark-svg">
                    <img src="/img/sass-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/tailwind-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/figma-dark.svg">
                </div>
               
            </div>
            
        </div>
        
        <div id='version' class="version">
            <img src="/img/version.svg">  
        </div>
    
    </section>

    <section id='section-second'>
        {# <img src="/img/projectdraw.png"> #}
        <div class="container">
            <h1>Projects</h1>
            <div class="subtitle">
                <p>Currently there are {{ projects|length }} projects visible. Some of them require users credential to access them</p>
            
            </div>
            <div id='project-list' class='card-holder'>
            {% for project in projects %}
                <div class="card">
                    <div class="card-photo">
                        <div>
                            {% if project.photos %}
                                {% for photo in project.photos %}
                                    {% if photo.profile %}
                                    <div>
                                        <img src="{{ vich_uploader_asset(photo) }} " alt="project-{{ photo.id }}">             
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}   
                        </div>
                      <div class="card-photo-title">
                        <span>
                            {{ project.name }}
                        </span>
                        <span>
                            {{ project.public ? "Public" : "Private" }}
                        </span>
                      </div>
                    </div>
                    <div class="card-content">
                        <div>
                            <span>{{ project.subtitle }}</span> 
                        </div>
                        <div>
                            <span>tech</span> 
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div class='card-bottom-btn1' title='Jump to the project details'>Details</div>
                        <div class='card-bottom-btn2' itle='Visit the website'>Live visit</div>
                    </div>
                    {# <div class='div-col'>
                        {{ loop.index }}
                    </div>
                    <div class='div-col'>
                        {{ project.name }}
                    </div>
                    
                    <div class='div-col'>
                        {{ project.framework }}
                    </div>
                    <div class='div-col div-col-type'>
                        {{ project.public ? "Yes" : "No" }}
                    </div>
                    <div class='div-col'>
                        <a class='btn-primary' href='{{ project.link }}'>
                            Visit
                        </a>
                        <a class='btn-secondary' href='{{ project.link }}'>
                            Github
                        </a>
                        <a class='btn-secondary' href='{{ project.link }}'>
                            Details
                        </a>
                    </div> #}
                </div>
            {% endfor %}
            </div>
            <div id='project-details' class="card-holder">
                {% for project in projects %}
                <div class="card">
                    <div class='card-photo'>
                    {% if project.photos %}
                        {% for photo in project.photos %}
                            {% if photo.profile %}
                                <img  src=" {{ vich_uploader_asset(photo)  }} " alt="project-{{ photo.id }}" style='background-color:red'>             
                            {% endif %}
                        {% endfor %}          
                    {% endif %}
                    </div>
                    <div class="card-title">
                        <h2>{{ project.name }}</h2>
                        
                        <h3>{{ project.subtitle }}</h3>
                    </div>
                    <div class="card-content">
                        <div>
                            {{ project.description }}
                        </div>
                        <div>
                            <div>Challenges:</div>
                            <div>
                                {% for challenge in project.challenges %}
                                <li>{{ challenge.name }}</li> 
                                <div style='color:green; margin-bottom:15px'>{{ challenge.solution }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <div>Overview:</div>
                            <div>
                                {% if project.photos %}
                                    {% for photo in project.photos %}
                                        {% if photo.profile is null %}
                                        <div style='margin-bottom:25px'>
                                            <span>{{ photo.details }}</span>
                                            <img  src=" {{ vich_uploader_asset(photo)  }} " alt="project-{{ photo.id }}" >             
                                            
                                        </div>
                                        {% endif %}
                                    {% endfor %}          
                                {% endif %}
                            </div>    
                        </div>
                    

                    </div>
                    <div class="card-technology">
                        Technologies:
                        {% for tech in project.technology %}
                        <li>{{ tech.name }} - {{ tech.version }}</li>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <div class="btn-secondary">
                            {{ project.public ? "Yes" : "No" }}
                        </div>
                        <div class="btn-secondary">
                             {{ project.production ? "Yes" : "No" }}
                        </div>
                        <div class="btn-primary">
                            {# {{ project.login }} #}
                            login
                        </div>
                        <div class="btn-primary">
                            {# {{ project.link }} #}
                            visit
                        </div>



                    </div>
                </div>
                {% endfor %}
            </div>
            {# <div class="version">
                <img src="/img/version4.svg">  
            </div> #}
        </div>
        
    </section>
    <section id='section-third'>
        <div class="container">
            <h1>Experience</h1>
            <div>
            - Diagnose and troubleshoot the most frequent encountered issues related to hardware, software, network, telecom and multimedia issues;
            - Users' account administration;
            - Serve as the first point of contact for complex technical requests and cooperate with other teams in order to provide a holistic solution to the user;
            - Updating the knowledge database by creating new procedures and documenting resolutions;

            ----
            - process orders from receipt to invoicing, process and handle maintenance contracts,
            - create the informational packages for Education Trainings and process the related orders,
            - create service quotations for clients,
            - schedule field engineer interventions,
            - maintain a good communication flow with internal and external customers,
            - regularly organize and update the work procedures for each process.
            </div>
            <div>
            Analyze website and application requirements
            Write clean, effective back-end code and build efficient PHP modules
            Develop back-end portals with an optimized database
            Collaborate with front-end developers to integrate works into the application
            Troubleshoot application and code issues
            Integrate data storage solutions
            Update and alter application features to improve performance
            </div>
            {# <div class="version">
                <img src="/img/version4.svg">  
            </div> #}
        </div>
        
        {# <div id='social-media'>            
            <div class='tags'>
                <div>php</div><div>javascript</div><div>html</div><div>css</div><div>mysql</div>
            </div>
            <div class='tags'>   
                <div>symfony</div><div>linux</div><div>git</div>
            </div>  
            <div class='social-media'><div><img src="/img/github.svg"><span>View github</span></div><div><img src="/img/gmail.svg"> <span>Send message</span></div><div><img src="/img/pdf.svg"> <span>Download cv</span></div></div>
            </div>
        </div> #}
     
    </section>
    <section id='section-forth'>
        <div class="container">
            <h1>About me</h1>
            <div>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. 
                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. 
                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. 

                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. 
                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. </p>
                <ul>
                    <li>The first line of Lorem Ipsum,</li>
                    <li>The first line of Lorem Ipsum,</li>
                    <li>The first line of Lorem Ipsum,</li>
                    <li>The first line of Lorem Ipsum,</li>
                    <li>The first line of Lorem Ipsum,</li>
                </ul>
            </div>
            {# <div class="version">
                <img src="/img/version6.svg">  
            </div> #}
        </div>
        
        {# <div id='social-media'>            
            <div class='tags'>
                <div>php</div><div>javascript</div><div>html</div><div>css</div><div>mysql</div>
            </div>
            <div class='tags'>   
                <div>symfony</div><div>linux</div><div>git</div>
            </div>  
            <div class='social-media'><div><img src="/img/github.svg"><span>View github</span></div><div><img src="/img/gmail.svg"> <span>Send message</span></div><div><img src="/img/pdf.svg"> <span>Download cv</span></div></div>
            </div>
        </div> #}
       
    </section>
    <section id='section-fifth'>
        <div class="container">
            <h1>Contact</h1>
            <div>
                <div>
                    Gmail :   <span><img src="/img/email.svg" alt='email'><a href='mailto:lucianturlea27@gmail.com'>lucianturlea27@gmail.com</a></span>
                </div>
                <div>
                    Github :   <span><img src="/img/email.svg" alt='email'><a href='mailto:lucianturlea27@gmail.com'>github</a></span>
                </div>
                <div>
                    Figma :   <span><img src="/img/email.svg" alt='email'><a href='mailto:lucianturlea27@gmail.com'>figma</a></span>
                </div>
                <div>
                    Discord :   <span><img src="/img/email.svg" alt='email'><a href='mailto:lucianturlea27@gmail.com'>figma</a></span>
                </div>

            </div>
            <div class="contact-content">
                <div class='contact-details'>
                    <h2>
                        Send me a message!
                    </h2>
                    <div>
                        <span>submit the following contact form!</span>
                    </div>
                    {# add map #}
                </div>
                <div class='contact-form'>
                    {{ form_start(form) }}
                    <div>
                        {{ form_row(form.name) }}
                    </div>
                    <div>
                        {{ form_row(form.email) }}
                    </div>
                    <div>
                        {{ form_row(form.title) }}
                    </div>
                     <div>
                        {{ form_row(form.content) }}
                    </div>
                    <div>
                        <button class='btn-primary' style="color:white">Trimite</button>
                    </div>
                    {# {{ form_widget(form) }} #}
                    {{ form_end(form) }}
                </div>
                
            </div>
            <div>
                <span><img src="/img/location.svg" alt='location'>Location: Romania , Constanta city</span>
            </div>
            <div id='map'></div>
        </div>  
        {# <div class="version">
        <img src="/img/version2.svg">  
    </div>
    
    <div class="version">
        <img src="/img/version4.svg">  
    </div>
    <div class="version">
        <img src="/img/version5.svg">  
    </div>
    <div class="version">
        <img src="/img/version6.svg">  
    </div>
    <div class="version">
        <img src="/img/version7.svg">  
    </div>   #}
        
        {# <div class="version">
            <img src="/img/version7.svg">  
        </div> #}

    </section>

</div>



{% endblock %}



{% block mainjavascript %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
