{% extends 'base.html.twig' %}
{# <a href="mailto:gabrielturlea27@gmail.com"><img src="/img/msg.svg" style='width:25px'>Message me</a>   #}
{% block title %}Lucianturlea.ro{% endblock %}
{% block body %}   

<div id="main" class="container">
    {% block navbar %}
        {{ include('/_navbar/_navbar.html.twig') }}
    {% endblock %}

    <section id='section-first'>
        <div id='section-first-left'>
            <div id='main-img' >
                <img src="/img/backgroundimg.png">
                <div class="dark-svg">
                    <img src="/img/symfony-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/laravel-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/tailwind-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/linux-dark.svg">
                </div>
            </div>
            
        </div>
        <div id='section-first-right'>
            <div>
                <span class='span-elements'>Developing</span>
                <span class='span-elements' style=' padding-bottom:.5em'>my passion</span>
                <span class='span-elements btn btn-secondary' style='background-color:#2695AD;font-size:2em;width:max-content; text-align:center;'>My projects</span>
                
            </div>
            <div id="composite-arrow" class='composite-anime'>
                {# <img src="/img/composite-arrow.svg"> #}
                    {# <img src="/img/composite-arrow.svg"> #}
            </div>  
             <img id='descend-rotate' src="/img/descend-rotate.svg" style='display:none'>  
        </div>
    </section>

    <section id='section-second'>
        {# <img src="/img/projectdraw.png"> #}
        <div class="container">
            <h1>My Projects</h1>
            <div class="card-holder">
                <div class="card">
                    <div class="card-title">
                        <h2>Design patterns  www.design-patterns.lucianturlea.ro</h2>
                        <h3>- All 23 classic design patters -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h2>Nova - www.nova.lucianturlea.ro</h2>
                        <h3>- Custom tourism accomodation software -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h2>Fistic romania www.fisticromania.ro</h2>
                        <h3>- presentation website -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h2>Caprirom - www.caprirom.lucianturlea.ro</h2>
                        <h3>- ONG webpage -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
            </div>
        </div>
        <img class='descend-rotate' src="/img/descend-rotate.svg">            
    </section>
    <section id='section-third'>
        <div class="container">
            <h1>Experience</h1>
        </div>
        <div class="container">
            <h1>My Projects</h1>
            <div class="card-holder">
                <div class="card">
                    <div class="card-title">
                        <h2>Design patterns  www.design-patterns.lucianturlea.ro</h2>
                        <h3>- All 23 classic design patters -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h2>Nova - www.nova.lucianturlea.ro</h2>
                        <h3>- Custom tourism accomodation software -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h2>Fistic romania www.fisticromania.ro</h2>
                        <h3>- presentation website -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h2>Caprirom - www.caprirom.lucianturlea.ro</h2>
                        <h3>- ONG webpage -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
            </div>
        </div>
        {# <div id='social-media'>            
            <div class='tags'>
                <div>php</div><div>javascript</div><div>html</div><div>css</div><div>mysql</div>
            </div>
            <div class='tags'>   
                <div>symfony</div><div>linux</div><div>git</div>
            </div>  
            <div class='social-media'><div><img src="/img/github.svg"><span>View github</span></div><div><img src="/img/gmail.svg"> <span>Send message</span></div><div><img src="/img/pdf.svg"> <span>Download cv</span></div></div>
            </div>
        </div> #}
    
    </section>
    <section id='section-forth'>
        <div class="container">
            <h1>About me</h1>
        </div>
        <div class="container">
            <div class="card-holder">
                <div class="card">
                    <div class="card-title">
                        <h2>Design patterns  www.design-patterns.lucianturlea.ro</h2>
                        <h3>- All 23 classic design patters -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h2>Nova - www.nova.lucianturlea.ro</h2>
                        <h3>- Custom tourism accomodation software -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h2>Fistic romania www.fisticromania.ro</h2>
                        <h3>- presentation website -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h2>Caprirom - www.caprirom.lucianturlea.ro</h2>
                        <h3>- ONG webpage -</h3>
                    </div>
                    <div class="card-content">
                        This application it's part of the portofolio
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis odio enim officiis nemo, porro iste dignissimos reprehenderit amet quibusdam ipsum minima delectus assumenda architecto rerum aliquid commodi totam asperiores.
                    </div>
                    <div class="card-footer">
                        technologies
                    </div>
                </div>
            </div>
        </div>
        {# <div id='social-media'>            
            <div class='tags'>
                <div>php</div><div>javascript</div><div>html</div><div>css</div><div>mysql</div>
            </div>
            <div class='tags'>   
                <div>symfony</div><div>linux</div><div>git</div>
            </div>  
            <div class='social-media'><div><img src="/img/github.svg"><span>View github</span></div><div><img src="/img/gmail.svg"> <span>Send message</span></div><div><img src="/img/pdf.svg"> <span>Download cv</span></div></div>
            </div>
        </div> #}
    
    </section>
    <section id='section-fifth'>
        <div class="container">
            <h1>Contact</h1>
        </div>
        <div class="container">
            <div class="card-holder">
                {% for project in projects %}
                <div class="card">
                    <div class='card-photo'>
                    {% if project.photo %}          
                        <img  src=" {{ vich_uploader_asset(project.photo, 'projectImages') | imagine_filter('img') }} " alt="project-{{ project.photo.id }}">             
                    {% else %}
                        <img src="/img/no-picture-mini.jpg">
                    {% endif %}
                    </div>
                    <div class="card-title">
                        <h2>{{ project.name }}</h2>
                        
                        <h3>{{ project.subtitle }}</h3>
                    </div>
                    <div class="card-content">
                        {{ project.description }}
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li>Framework: {{ project.framework }}</li>
                            <li>Link: {{ project.link }}</li>
                            <li>Login: {{ project.login }}</li>
                            <li>Public: {{ project.public ? "Yes" : "No" }}</li>
                            <li>Login: {{ project.production ? "Yes" : "No" }}</li>
                        </ul>


                    </div>
                </div>
                {% endfor %}
            </div>
        </div>    
    </section>

</div>

{% endblock %}
{% block mainjavascript %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
