{% extends 'base.html.twig' %}
{# <a href="mailto:gabrielturlea27@gmail.com"><img src="/img/msg.svg" style='width:25px'>Message me</a>   #}
{% block title %}Lucianturlea.ro{% endblock %}
{% block body %}   

<div id="main">
    {% block navbar %}
        {{ include('/_navbar/_navbar.html.twig') }}
    {% endblock %}

    <section id='section-first'>
        <div id='section-first-right'>
            <div>
                <span class='span-elements' style=''>Developing</span>
                <span class='span-elements' style=' padding-bottom:.8em'>passion.</span>
                <span class='span-elements' style='padding-bottom:1.8em;font-size:1em;font-weight:normal;font-family:Plex-light;color:#b3b3b3;letter-spacing:.01em;line-height:1.6em'>Made with <b>Symfony</b> and <b>Laravel</b> frameworks.<br>Checkout now my beautiful projects!</span>
                <div id='myprojects' class='span-elements btn-primary'><img src="/img/checkout.svg"> My Projects</div>
                
            </div>
        </div>

        <div id='section-first-left'>
            <div id='main-img' >
                <img src="/img/backgroundimg.png">
                <div class="dark-svg">
                    <img src="/img/symfony-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/laravel-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/tailwind-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/linux-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/sass-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/figma-dark.svg">
                </div>
                <div class="dark-svg">
                    <img src="/img/git-dark.svg">
                </div>
            </div>
            
        </div>
        
    <div id='version' class="version">
        <img src="/img/version.svg">  
    </div>
    
    </section>

    <section id='section-second'>
        {# <img src="/img/projectdraw.png"> #}
        <div class="container">
            <h1>Projects</h1>
            <div class="subtitle">
                <p>Currently there are {{ projects|length }} projects visible. Some of them require users credential to access them</p>
            
            </div>
            <div class='div-table'>
               
                    <div class='div-col'>
                        #
                    </div>
                    <div class='div-col'>
                        name
                    </div>
                    <div class='div-col div-col-type'>
                        type
                    </div>
                    <div class='div-col'>
                        techology
                    </div>
                    <div class='div-col div-col-type'>
                        public
                    </div>
                    <div class='div-col'>
                        actions
                    </div>
            
                {% for project in projects %}
               
                    <div class='div-col'>
                        {{ loop.index }}
                    </div>
                    <div class='div-col'>
                        {{ project.name }}
                    </div>
                    <div class='div-col div-col-type'>
                        {{ project.subtitle }}
                    </div>
                    <div class='div-col'>
                        {{ project.framework }}
                    </div>
                    <div class='div-col div-col-type'>
                        {{ project.public ? "Yes" : "No" }}
                    </div>
                    <div class='div-col'>
                        <a class='btn-primary' href='{{ project.link }}'>
                            Visit
                        </a>
                        <a class='btn-secondary' href='{{ project.link }}'>
                            Github
                        </a>
                        <a class='btn-secondary' href='{{ project.link }}'>
                            Details
                        </a>
                    </div>
        
                {% endfor %}
            </div>
            <div class="card-holder">
                {% for project in projects %}
                <div class="card">
                    <div class='card-photo'>
                    {% if project.photo %}          
                        <img  src=" {{ vich_uploader_asset(project.photo, 'projectImages') | imagine_filter('profile') }} " alt="project-{{ project.photo.id }}">             
                    {% else %}
                        <img src="/img/no-picture-mini.jpg">
                    {% endif %}
                    </div>
                    <div class="card-title">
                        <h2>{{ project.name }}</h2>
                        
                        <h3>{{ project.subtitle }}</h3>
                    </div>
                    <div class="card-content">
                        {{ project.description }}
                    </div>
                    <div class="card-technology">
                        Technologies
                        <li>Framework: {{ project.framework }}</li>
                        <li>Framework: {{ project.framework }}</li>
                        <li>Framework: {{ project.framework }}</li>
                        <li>Framework: {{ project.framework }}</li>
                    </div>
                    <div class="card-footer">
                        
                        
                        <div class="btn-secondary">
                            {{ project.public ? "Yes" : "No" }}
                        </div>
                        <div class="btn-secondary">
                             {{ project.production ? "Yes" : "No" }}
                        </div>
                        <div class="btn-primary">
                            {# {{ project.login }} #}
                            login
                        </div>
                        <div class="btn-primary">
                            {# {{ project.link }} #}
                            visit
                        </div>



                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="version">
        <img src="/img/version4.svg">  
        </div>
    </section>
    <section id='section-third'>
        <div class="container">
            <h1>Experience</h1>
            <div>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. 
                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. 
                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. 

                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
        </div>
        
        {# <div id='social-media'>            
            <div class='tags'>
                <div>php</div><div>javascript</div><div>html</div><div>css</div><div>mysql</div>
            </div>
            <div class='tags'>   
                <div>symfony</div><div>linux</div><div>git</div>
            </div>  
            <div class='social-media'><div><img src="/img/github.svg"><span>View github</span></div><div><img src="/img/gmail.svg"> <span>Send message</span></div><div><img src="/img/pdf.svg"> <span>Download cv</span></div></div>
            </div>
        </div> #}
     <div class="version">
        <img src="/img/version4.svg">  
    </div>
    </section>
    <section id='section-forth'>
        <div class="container">
            <h1>About me</h1>
            <div>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. 
                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. 
                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. 

                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. 
                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. </p>
                <ul>
                    <li>The first line of Lorem Ipsum,</li>
                    <li>The first line of Lorem Ipsum,</li>
                    <li>The first line of Lorem Ipsum,</li>
                    <li>The first line of Lorem Ipsum,</li>
                    <li>The first line of Lorem Ipsum,</li>
                </ul>
            </div>
        </div>
        
        {# <div id='social-media'>            
            <div class='tags'>
                <div>php</div><div>javascript</div><div>html</div><div>css</div><div>mysql</div>
            </div>
            <div class='tags'>   
                <div>symfony</div><div>linux</div><div>git</div>
            </div>  
            <div class='social-media'><div><img src="/img/github.svg"><span>View github</span></div><div><img src="/img/gmail.svg"> <span>Send message</span></div><div><img src="/img/pdf.svg"> <span>Download cv</span></div></div>
            </div>
        </div> #}
       <div class="version">
            <img src="/img/version6.svg">  
        </div>
    </section>
    <section id='section-fifth'>
        <div class="container">
            <h1>Contact</h1>
        </div>
        <div class="container">
            <div class="contact-content">
                <div class='contact-details'>
                    <h5>FISTIC ROMANIA</h5>
                    {# <div>
                        <span><img src="/img/location-gray.svg" alt='location'>Navodari, str. Constantei, nr.16, jud. Constanta</span>
                    </div> #}
                    {# <div>
                        <span><img src="/img/phone-gray.svg" alt='phone'>Mobil: <a href="tel:{{ twig_gs.homeSettings.telephone }}">{{ twig_gs.homeSettings.telephone }}</a></span>
                    </div>

                    <div>
                        <span><img src="/img/email-gray.svg" alt='email'>Email:{{ twig_gs.homeSettings.email }}</span>
                    </div> #}

                </div>
                <div class='contact-form'>
                    <h5> Trimite un mesaj</h5>
                    {{ form_start(form) }}
                    <div class='w-100'>
                        {{ form_row(form.name) }}
                    </div>
                
                    <div class='f-col'>
                        {{ form_row(form.telephone) }}
                        {{ form_row(form.email) }}
                    </div>
                    <div class='w-100'>
                        {{ form_row(form.title) }}
                    </div>
            
                    {{ form_row(form.subject) }}
                        <button class='btn-primary' style="color:white">Trimite</button>
                
                    
                    {# {{ form_widget(form) }} #}
            
                    {{ form_end(form) }}
                </div>
            </div>
        </div>  
        {# <div class="version">
        <img src="/img/version2.svg">  
    </div>
    
    <div class="version">
        <img src="/img/version4.svg">  
    </div>
    <div class="version">
        <img src="/img/version5.svg">  
    </div>
    <div class="version">
        <img src="/img/version6.svg">  
    </div>
    <div class="version">
        <img src="/img/version7.svg">  
    </div>   #}
        
        <div class="version">
            <img src="/img/version7.svg">  
        </div>

    </section>

</div>

{% endblock %}
{% block mainjavascript %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
