{% extends 'base.html.twig' %}

{% block title %}Challenge index{% endblock %}

{% block body %}
<div class="container">
    <h1>Challenge index</h1>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Project</th>
                    <th>Name</th>
                    <th>Solution</th>
                    <th>Level</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for challenge in challenges %}
                <tr>
                    <td>{{ challenge.id }}</td>
                    <td>{{ challenge.project.name }}</td>
                    <td>{{ challenge.name }}</td>
                    <td>{{ challenge.solution }}</td>
                    <td>{{ challenge.level }}</td>
                    <td>
                        <a href="{{ path('challenge_show', {'id': challenge.id}) }}">show</a>
                        <a href="{{ path('challenge_edit', {'id': challenge.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('challenge_new') }}">Create new</a>
</div>
{% endblock %}
