{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
<div class="container">
    <h1>Project index</h1>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>photo</th>
                    <th>Link</th>
                    <th>Subtitle</th>
                    <th>Status</th>
                    <th>Public</th>
                    <th>Production</th>
                    <th>Github</th>
                    <th>Level</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>

            {% for project in projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>
                    
                        {% if project.photos %}
                            {% for photo in project.photos %}
                                {% if photo.profile %}
                                    <img src=" {{ vich_uploader_asset(photo) }} " alt="project-{{ photo.id }}">             
                                {% endif %}
                            {% endfor %}             
                        {% endif %}
                    </td>
                    <td>{{ project.link }}</td>
                    <td>{{ project.subtitle }}</td>
                    <td>{{ project.status ? 'Yes' : 'No' }}</td>
                    <td>{{ project.public ? 'Yes' : 'No' }}</td>
                    <td>{{ project.production ? 'Yes' : 'No' }}</td>
                    <td>{{ project.github }}</td>
                    <td>{{ project.level }}</td>
                    <td>
                        <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                        <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('project_new') }}">Create new</a>
</div>
{% endblock %}
